### Practical 1
/practical-1/P1Q1client
/practical-1/P1Q1server

### Practical 2
/practical-2/P2Q1
/practical-2/P2Q1modified
/practical-2/P2Q2
/practical-2/P2Q2modified
/practical-2/test

.DS_Store
.vscode