### Practical 1
/practical-1/P1Q1client
/practical-1/P1Q1server

### Practical 2
/practical-2/P2Q1
/practical-2/P2Q1modified
/practical-2/P2Q2
/practical-2/P2Q2modified
/practical-2/test

### Practical 3

### Practical 4

### Practical 5

### Practical 6
/practical-6/P6Q1
/practical-6/P6Q2
/practical-6/P6Q3
/practical-6/P6Q4
/practical-6/P6Q5

.DS_Store
.vscode